@import "./themes/_fonts";

h1 {
  font-family: $custom-font;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30em;
}

.App {
  text-align: center;
}

.helloworld-bg {
  width: 100%;
  height: 100vh;
  background: red;
  margin: 0;
}
