@import '../_variables.scss';

.AreaIntro {
    text-align: center;
    color: $vegogo-color-1;
    font-family: "URWGeometric-ExtraBold", sans-serif;

}

.AreaIntro-title {
    font-size: 48px;
    margin: 1rem 0;
}

.AreaIntro-image {
    max-width: 100%;
}
