.DebugAreas-items {
  list-style: none;
  margin:0;
  padding: 0;
}

.DebugAreas-title {
  margin: 0 0 .75rem;
}

.DebugAreas-item {
  margin-bottom: .75rem;
}

.DebugAreas-item-title {
  margin: 0;
}

.DebugAreas-item-tagline {
  margin: 0;
}
