.ImageScroller {
  // background: #fab;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  align-items: center;
}

.ImageScroller-image {
  background: #eee;
  flex: 1 1 auto;
  margin: 0 3vh;
}

.ImageScroller-image:first-child {
  // margin-left: 10%;
}

.ImageScroller-image-img {
  background: lightyellow;
  display: block;
  width: auto;
  height: 40vh;
  margin: 0 auto;
}
