.ImageScroller {
  background: #fab;
  //white-space: nowrap;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  align-items: center;
}

.ImageScroller-image {
  //display: inline-block;
  xwidth: 200px;
  xheight: 200px;
  flex: 1 0 70%;
  margin: 0 5%;
}

.ImageScroller-image-img {
  background: lightyellow;
}
