@import "./shared.scss";

.PlacesListing {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid black;
}


.PlacesListing-placeItems {
    list-style: none;
    margin: 0;
    padding: 0;
}

.PlacesListing-placeItem {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    padding-bottom: 10px;
    @include clearfix;
}

.PlacesListing-placeItem-mapImage {
    float: left;
    max-width: 300px;
}

.PlaceItem-photo {
    position: relative;
    margin: 0;

    & .Bubble {
        position: absolute;
        bottom: -5px;
        right: -10px;
    }
}

.PlaceItem-photo-img {
    width: 100%;
    height: auto;
}

.PlaceItem-head {
    position: relative;
}

.PlaceItem-name {
    font-family: 'URWGeometric-Bold', sans-serif;
    font-size: 36px;
    margin: 15px 0;
    margin-right: 60px;
}

.PlaceItem-more {
    position: absolute;
    top: 6px;
    right: 0;
    background: none;
    appearance: none;
    font-family: 'URWGeometric-Bold', sans-serif;
    font-size: 24px;
    margin: 0 0;
    padding: 0;
    border: 0;
    line-height: 1;
    text-decoration: underline;
}
