
$custom-font: "URWGeometric-Bold";
$custom-font-bold: "URWGeometric-Regular";

$vegogo-color-dark: #535257;
$vegogo-color-yellow: #F0BD00;
$vegogo-color-green: #4FDB9D;
$vegogo-color-red: #FD6A64;
$vegogo-color-1: #62B5B6;
