
$custom-font: "URWGeometric-Regular";
$custom-font-bold: "URWGeometric-Bold";

$vegogo-color-dark: #535257;
$vegogo-color-yellow: #F0BD00;
$vegogo-color-green: rgb(80, 227, 194);
$vegogo-color-red: #FD6A64;
$vegogo-color-1: #62B5B6;
$vegogo-color-background-discrete: #D8D8D8;

