@import './_variables.scss';
@import "./themes/_fonts";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'URWGeometric-Regular', sans-serif;
  margin: 0 auto;
  width: 80%;
  max-width: 720px;
}

::selection { 
  background: $vegogo-color-green; 
}
